<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="DreamToolConnectionString" connectionString="Data Source=kimberly-pc;Initial Catalog=DreamTool;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="dreamteamutech@gmail.com">
				<network port="587" userName="dreamteamutech@gmail.com" password="lovenotsleep" host="smtp.gmail.com"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
</configuration>
