<?xml version="1.0"?>
<configuration>
	

  <connectionStrings>
    <add name="test" connectionString="user id=dreamteam_SQLLogin_1;pwd=nm3d5jmvik;data source=DreamTool.mssql.somee.com;persist security info=False;initial catalog=DreamTool;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
